.container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 40px;
}

.list {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.image {
  width: 60px;
}

.name {
  padding-top: 8px;
}

.status {
  color: #fff;
  padding-top: 8px;
}

.red {
  color: red;
}

.green {
  color: green;
}
